@import url("design-system.css");

body {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 2rem;
}



li {
    margin: 1rem 0;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
}

a:hover {
    color: white;
}